build/*
data/Armadillo/*
data/DamBreakBunny/*
data/DamBreakLucy/*
data/DamBreakTori/*
data/SphereDropGround/*
data/SphereEmitter/*
data/SpheresDropTank/*
.vscode/*
report/*.swp
report/*.aux
report/*.log
report/*.out
_minted-report
